{% extends "base_generics.html" %}
{% load i18n %}

{% block content %}
  <h1>{% translate 'Author List' %}</h1>
  {% if author_list %}
    <ul>
    {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">
        {{ author }} ({{author.date_of_birth}} -
          {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
        </a>
      </li>
    {% endfor %}
   </ul>
  {% else %}
    <p>{% translate 'There are no authors available.' %}</p>
  {% endif %}
{% endblock %}
